GO

ALTER PROCEDURE [dbo].[sp_PropertyInventoryReport]
@City    VARCHAR(100)  = NULL,   -- Filter by city; each project belongs to one city
@TypeID  INT           = NULL,
@Status  VARCHAR(50)   = NULL    -- 'Available','Reserved','Sold' or NULL = all
AS
BEGIN
SET NOCOUNT ON;

SELECT
    pr.PropertyID,
    pr.Title,
    p.ProjectName,
    loc.District,
    pt.TypeName                                AS PropertyType,
    pr.Status,
    pr.Price,
    pr.Size,
    pr.Bedrooms,
    pr.Bathrooms,
    pr.FloorLevel,
    pr.ViewType,
    pr.FinishingType,
    pr.DeliveryType,
    pr.DeliveryDate,
    pr.Parking,
    pr.HasGarden,
    pr.Furnished,
    pr.HasPool,
    -- Reservation info if reserved/sold
    res.ReservationDate,
    res.ExpiryDate,
    res.Status                                 AS ReservationStatus,
    c.FirstName + ' ' + c.LastName             AS CustomerName,
    c.Phone                                    AS CustomerPhone
FROM Property pr
INNER JOIN Project      p   ON pr.ProjectID  = p.ProjectID
INNER JOIN Location     loc ON pr.LocationID = loc.LocationID
INNER JOIN PropertyType pt  ON pr.TypeID     = pt.TypeID
LEFT  JOIN Reservation  res ON res.PropertyID = pr.PropertyID
                            AND res.Status NOT IN ('Cancelled', 'Expired')
LEFT  JOIN Customer     c   ON res.CustomerID = c.CustomerID
WHERE (@City   IS NULL OR loc.City   = @City)
  AND (@TypeID IS NULL OR pr.TypeID  = @TypeID)
  AND (@Status IS NULL OR pr.Status  = @Status)
ORDER BY p.ProjectName, pt.TypeName, pr.Status, pr.Price;

END;