CREATE OR ALTER PROCEDURE sp_AgentCommissionReport
@StartDate  DATE = NULL,
@EndDate    DATE = NULL,
@AgentID    INT  = NULL
AS
BEGIN
SET NOCOUNT ON;

SET @StartDate = ISNULL(@StartDate, DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1));
SET @EndDate   = ISNULL(@EndDate,   GETDATE());

WITH CommissionData AS
(
    SELECT
        sa.AgentID,
        sa.FirstName + ' ' + sa.LastName             AS AgentName,
        sa.Email                                      AS AgentEmail,
        sa.Phone                                      AS AgentPhone,
        tl.FirstName + ' ' + tl.LastName             AS TeamLeaderName,
        at.AgentTypeName,
        at.CommissionRate,
        COUNT(d.DealID)                               AS TotalDeals,
        SUM(d.TotalAmount)                            AS TotalDealValue,
        SUM(d.TotalAmount * at.CommissionRate / 100)  AS TotalCommissionEarned
    FROM Deal d
    INNER JOIN Reservation  res ON d.ReservationID = res.ReservationID
    INNER JOIN SalesAgent   sa  ON res.AgentID     = sa.AgentID
    INNER JOIN AgentType    at  ON sa.AgentTypeID  = at.AgentTypeID
    LEFT  JOIN TeamLeader   tl  ON sa.TeamLeaderID = tl.TeamLeaderID
    WHERE d.Status       = 'Completed'
      AND d.ContractDate BETWEEN @StartDate AND @EndDate
      AND (@AgentID IS NULL OR sa.AgentID = @AgentID)
    GROUP BY
        sa.AgentID, sa.FirstName, sa.LastName, sa.Email, sa.Phone,
        tl.FirstName, tl.LastName,
        at.AgentTypeName, at.CommissionRate
)
SELECT
    AgentID,
    AgentName,
    AgentEmail,
    AgentPhone,
    TeamLeaderName,
    AgentTypeName,
    CommissionRate,
    TotalDeals,
    TotalDealValue,
    TotalCommissionEarned,
    RANK() OVER (ORDER BY TotalCommissionEarned DESC) AS CommissionRank
FROM CommissionData
ORDER BY TotalCommissionEarned DESC;

END;
GO