GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PaymentCollectionReport]
	@StartDate		DATE		 = NULL,
	@EndDate		DATE		 = NULL,
	@ProjectName	VARCHAR(50)  = NULL,
	@OverdueOnly	BIT			 = 0
AS
BEGIN
	SET NOCOUNT ON;

	SET @StartDate	= ISNULL(@StartDate, DATEFROMPARTS(YEAR(GETDATE()), 1, 1));
	SET @EndDate	= ISNULL(@EndDate, GETDATE());

	SELECT
		c.CustomerID,
		c.FirstName + ' ' + c.LastName		AS CustomerName,
		c.Phone								AS CustomerPhone,
		c.Email								AS CustomerEmail,
		d.DealID,
		d.ContractDate,
		d.TotalAmount,
		d.DownPayment,
		d.DealType,
		d.ContractType,
		pr.Title							AS PropertyTitle,
		p.ProjectName,
		SUM(CASE WHEN pay.Status = 'Paid' THEN pay.Amount ELSE 0 END)
											AS TotalPaid,
		SUM(CASE WHEN pay.Status <> 'Paid' THEN pay.Amount ELSE 0 END)
											AS RemainingBalance,
		SUM(CASE WHEN pay.Status <> 'Paid' AND pay.DueDate < GETDATE() THEN pay.Amount ELSE 0 END)
											AS OverdueAmount,
		MAX(CASE WHEN pay.Status <> 'Paid' AND pay.DueDate < GETDATE() THEN pay.DueDate END)
											AS EarliestOverdueDueDate,
		COUNT(CASE WHEN pay.Status <> 'Paid' AND pay.DueDate < GETDATE() THEN 1 END)
											AS OverdueInstallments,
		COUNT(pay.PaymentID)				AS TotalInstallments,
		COUNT(CASE WHEN pay.Status = 'Paid' THEN 1 END)
											AS PaidInstallments

	FROM Deal d
	INNER JOIN Reservation	res ON d.ReservationID	= res.ReservationID
	INNER JOIN Customer		c   ON res.CustomerID	= c.CustomerID
	INNER JOIN Property		pr  ON res.PropertyID	= pr.PropertyID
	INNER JOIN Project		p   ON pr.ProjectID		= p.ProjectID
	LEFT  JOIN Payment		pay ON pay.DealID		= d.DealID

	WHERE
		(@ProjectName IS NULL OR p.ProjectName = @ProjectName)
		AND d.ContractDate BETWEEN @StartDate AND @EndDate

	GROUP BY
		c.CustomerID, c.FirstName, c.LastName,
		c.Phone, c.Email,
		d.DealID, d.ContractDate, d.TotalAmount, d.DownPayment, d.DealType, d.ContractType,
		pr.Title, p.ProjectName

	HAVING
		@OverdueOnly = 0
		OR SUM(CASE WHEN pay.Status <> 'Paid' AND pay.DueDate < GETDATE() THEN pay.Amount ELSE 0 END) > 0

	ORDER BY OverdueAmount DESC, CustomerName;

END;