GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ProjectRevenueReport]
	@ProjectName	VARCHAR(200) = NULL,
	@Status			VARCHAR(50)  = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		p.ProjectID,
		p.ProjectName,
		p.Status			AS ProjectStatus,
		p.StartDate,
		p.EndDate,
		p.TotalUnits,
		loc.City,
		loc.District,
		COUNT(pr.PropertyID)												AS ListedUnits,
		COUNT(CASE WHEN pr.Status = 'Available'	THEN 1 END)				AS AvailableUnits,
		COUNT(CASE WHEN pr.Status = 'Reserved'	THEN 1 END)				AS ReservedUnits,
		COUNT(CASE WHEN pr.Status = 'Sold'		THEN 1 END)				AS SoldUnits,
		COUNT(CASE WHEN pr.Status = 'Rented'	THEN 1 END)				AS RentedUnits,
		SUM(pr.Price)														AS ProjectedTotalRevenue,
		ISNULL(SUM(CASE WHEN pr.Status IN ('Sold','Rented') THEN d.TotalAmount END), 0)
																			AS ActualRevenue,
		SUM(pr.Price) - ISNULL(SUM(CASE WHEN pr.Status IN ('Sold','Rented') THEN d.TotalAmount END), 0)
																			AS RemainingExpectedRevenue,
		CASE
			WHEN COUNT(pr.PropertyID) > 0
			THEN CAST(
					COUNT(CASE WHEN pr.Status = 'Sold' THEN 1 END) * 100.0
					/ COUNT(pr.PropertyID)
				AS DECIMAL(5,2))
			ELSE 0
		END																	AS SoldPct,
		CASE
			WHEN SUM(pr.Price) > 0
			THEN CAST(
					ISNULL(SUM(CASE WHEN pr.Status IN ('Sold','Rented') THEN d.TotalAmount END), 0) * 100.0
					/ SUM(pr.Price)
				AS DECIMAL(5,2))
			ELSE 0
		END																	AS RevenueAchievementPct

	FROM Project p
	INNER JOIN Location loc		ON p.LocationID			= loc.LocationID
	LEFT  JOIN Property pr		ON pr.ProjectID			= p.ProjectID
	LEFT  JOIN Reservation res	ON res.PropertyID		= pr.PropertyID
		AND res.Status NOT IN ('Cancelled','Expired')
	LEFT  JOIN Deal d			ON d.ReservationID		= res.ReservationID
		AND d.Status = 'Completed'

	WHERE
		(@ProjectName IS NULL OR p.ProjectName = @ProjectName)
		AND (@Status  IS NULL OR p.Status      = @Status)

	GROUP BY
		p.ProjectID, p.ProjectName, p.Status,
		p.StartDate, p.EndDate, p.TotalUnits,
		loc.City, loc.District

	ORDER BY ActualRevenue DESC;

END;