ALTER PROCEDURE sp_PropertyDemandReport
    @ProjectName VARCHAR(200) = NULL,
    @StartDate   DATE = NULL,
    @EndDate     DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @StartDate = ISNULL(@StartDate, DATEFROMPARTS(YEAR(GETDATE()), 1, 1));
    SET @EndDate   = ISNULL(@EndDate, GETDATE());

    -- Demand by Property Type
    SELECT
        'ByType'                                   AS ReportSection,
        pt.TypeName                                AS GroupLabel,
        NULL                                       AS City,
        NULL                                       AS District,
        NULL                                       AS ViewType,
        COUNT(d.DealID)                            AS TotalDeals,
        SUM(d.TotalAmount)                         AS TotalRevenue,
        AVG(pr.Price)                              AS AvgPropertyPrice,
        AVG(pr.Size)                               AS AvgPropertySize
    FROM Deal d
    INNER JOIN Reservation  res ON d.ReservationID = res.ReservationID
    INNER JOIN Property     pr  ON res.PropertyID  = pr.PropertyID
    INNER JOIN PropertyType pt  ON pr.TypeID       = pt.TypeID
    INNER JOIN Project      p   ON pr.ProjectID    = p.ProjectID
    WHERE d.Status = 'Completed'
      AND d.ContractDate BETWEEN @StartDate AND @EndDate
      AND (@ProjectName IS NULL OR p.ProjectName = @ProjectName)
    GROUP BY pt.TypeName

    UNION ALL

    -- Demand by Location
    SELECT
        'ByLocation',
        loc.City + ' - ' + loc.District,
        loc.City,
        loc.District,
        NULL,
        COUNT(d.DealID),
        SUM(d.TotalAmount),
        AVG(pr.Price),
        AVG(pr.Size)
    FROM Deal d
    INNER JOIN Reservation  res ON d.ReservationID = res.ReservationID
    INNER JOIN Property     pr  ON res.PropertyID  = pr.PropertyID
    INNER JOIN Location     loc ON pr.LocationID   = loc.LocationID
    INNER JOIN Project      p   ON pr.ProjectID    = p.ProjectID
    WHERE d.Status = 'Completed'
      AND d.ContractDate BETWEEN @StartDate AND @EndDate
      AND (@ProjectName IS NULL OR p.ProjectName = @ProjectName)
    GROUP BY loc.City, loc.District

    UNION ALL

    -- Demand by View Type
    SELECT
        'ByViewType',
        ISNULL(pr.ViewType, 'Not Specified'),
        NULL,
        NULL,
        pr.ViewType,
        COUNT(d.DealID),
        SUM(d.TotalAmount),
        AVG(pr.Price),
        AVG(pr.Size)
    FROM Deal d
    INNER JOIN Reservation  res ON d.ReservationID = res.ReservationID
    INNER JOIN Property     pr  ON res.PropertyID  = pr.PropertyID
    INNER JOIN Project      p   ON pr.ProjectID    = p.ProjectID
    WHERE d.Status = 'Completed'
      AND d.ContractDate BETWEEN @StartDate AND @EndDate
      AND (@ProjectName IS NULL OR p.ProjectName = @ProjectName)
    GROUP BY pr.ViewType

    ORDER BY ReportSection, TotalDeals DESC;
END;
GO