ALTER PROCEDURE sp_SalesPerformanceReport
    @StartDate       DATE = NULL,
    @EndDate         DATE = NULL,
    @AgentTypeName   VARCHAR(100) = NULL, 
    @TeamLeaderName  VARCHAR(200) = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    SET @StartDate = ISNULL(
        @StartDate,
        DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1)
    );

    SET @EndDate = ISNULL(@EndDate, GETDATE());

    SELECT
        sa.AgentID,
        sa.FirstName + ' ' + sa.LastName AS AgentName,

        at.AgentTypeName,

        tl.FirstName + ' ' + tl.LastName AS TeamLeaderName,

        p.ProjectName,

        COUNT(DISTINCT d.DealID) AS UnitsSold,

        SUM(d.TotalAmount) AS TotalRevenue,

        sa.TargetUnits AS AgentTargetUnits,
        sa.TargetAmount AS AgentTargetAmount,

        CASE
            WHEN sa.TargetUnits > 0
            THEN CAST(
                COUNT(DISTINCT d.DealID) * 100.0 / sa.TargetUnits
                AS DECIMAL(5,2)
            )
            ELSE NULL
        END AS UnitAchievementPct,

        CASE
            WHEN sa.TargetAmount > 0
            THEN CAST(
                SUM(d.TotalAmount) * 100.0 / sa.TargetAmount
                AS DECIMAL(5,2)
            )
            ELSE NULL
        END AS RevenueAchievementPct

    FROM Deal d

    INNER JOIN Reservation r
        ON d.ReservationID = r.ReservationID

    INNER JOIN SalesAgent sa
        ON r.AgentID = sa.AgentID

    INNER JOIN AgentType at
        ON sa.AgentTypeID = at.AgentTypeID

    INNER JOIN Property pr
        ON r.PropertyID = pr.PropertyID

    INNER JOIN Project p
        ON pr.ProjectID = p.ProjectID

    LEFT JOIN TeamLeader tl
        ON sa.TeamLeaderID = tl.TeamLeaderID

    WHERE d.Status IN ('Completed', 'Active')
      AND d.ContractDate BETWEEN @StartDate AND @EndDate

      AND (
        @AgentTypeName IS NULL
        OR @AgentTypeName = ''
        OR at.AgentTypeName = @AgentTypeName
      )

  AND (
        @TeamLeaderName IS NULL
        OR @TeamLeaderName = ''
        OR (tl.FirstName + ' ' + tl.LastName) = @TeamLeaderName
      )

    GROUP BY
        sa.AgentID,
        sa.FirstName,
        sa.LastName,

        at.AgentTypeName,

        tl.FirstName,
        tl.LastName,

        p.ProjectName,

        sa.TargetUnits,
        sa.TargetAmount

    ORDER BY TotalRevenue DESC;
END;